<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
     <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a new tracker!</h1>
<form action="/users/<%= user._id %>/weather" method="POST">
       
      <label for="fahrenheit">fahrenheit:</label>
        <input type="number" name="fahrenheit" id="fahrenheit">

        <label for="state">State:</label>
        <input type="text" name="state" id="state">

        <label for="notes">Notes:</label>
        <textarea type="text" name="notes" id="notes"></textarea>

        <label for="type">type:</label>
        <select name="type" id="type">
            <option value="sunny">Sunny!</option>
            <option value="windy">Windy!</option>
            <option value="neutral">Nothing's going on</option>
            <option value="rain">it's raining</option>
        </select>

        <button type="submit">Add tracker</button>
    </form>
</body>
</html>









