
<nav>
  <% if(user) { %>
  <a href="/users/weather">Your Apps</a>
  <a href="/auth/sign-out">Sign Out</a>
  <a href = "/weather/new"> make a new location</a>
  <% } else { %>
  <a href="/auth/sign-in">Sign In</a>
  <a href="/auth/sign-up">Sign Up</a>
  <% } %>
</nav>
