<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>


<body>
  <%- include('./partials/_navbar.ejs') %>
  <h1>Weather-tracker</h1>
  <p>A self weather tracker.</p>
  <a href="/auth/sign-up">Sign up</a>
  <a href="/auth/sign-in">Sign in</a>
</body>

    <p>
    </a>
    </p>
  </body>
</html>