

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>homepage</title>
  </head>
  <body>
    <% if (user) { %>
    <h1>Goodbye <%= user.username %> see you soon!</h1>
    <p>
      <a href="/auth/sign-out">Sign out</a>
    </p>
    <% } else { %>
    <h1>Welcome to WeatherTracker,</h1>
    <h2> If you already have an Account please sign-in!!</h2>
    <p>
      <a href="/auth/sign-up">Sign up</a> or
      <a href="/auth/sign-in">Sign in</a>.
    </p>
    
    <% } %>
</body>
</html>
